@if (Request.IsAuthenticated) {
    <div class="float-left">
        @Html.RouteLink("UserName", "Default", routeValues: new { controller = "Account", action="Manage" }, htmlAttributes: new { @class = "username", title = "Manage", username = User.Identity.Name })
        @using (Html.BeginRouteForm(routeName: "Default", 
                                    routeValues: new { controller = "Account", action = "LogOff" }, 
                                    method: FormMethod.Post, 
                                    htmlAttributes: new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()" id="logoutLink"></a>
        }
    </div>
    <div class="float-left">
       <div class="admin-tools-button"></div>
    </div >
} else {
    <ul>
        <li>@Html.RouteLink("Register", "Default", routeValues: new { controller = "Account", action="Register" }, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.RouteLink("Log in", "Default", routeValues: new { controller = "Account", action="Login", returnUrl = Request.Url.AbsolutePath }, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
<div style="clear:both; visibility:hidden;"></div>
