@if (Request.IsAuthenticated)
{
        using(Html.BeginRouteForm(routeName: "Default",
            routeValues: new {controller = "Account", action = "LogOff"},
            method: FormMethod.Post,
            htmlAttributes: new {id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()
            <p class="navbar-text pull-right">
                <a id="accountLink" class="link" href="#account/manage"><i class="glyphicon glyphicon-user"></i><span>@User.Identity.Name</span></a>
                <a href="#home/index" onclick="logout();"><i class="glyphicon glyphicon-log-out"></i></a>
            </p>
        }
}
else
{
    <p class="navbar-text pull-right"><a href="#account/login"><i class="glyphicon glyphicon-log-in"></i></a></p>
    <p class="navbar-text pull-right"><a href="#account/register"><i class="glyphicon glyphicon-plus"></i></a></p>
}

<script type="text/javascript">
    function logout() {
        if (!logoutInitialized) {
            logoutInitialized = true;
            chat.logout();
            $('#logoutForm').submit();
        }
    };
</script>


