@model BandSite.Models.ViewModels.LocalPasswordModel

<div id="settings-tabs" class="container">
    @if (!String.IsNullOrEmpty(ViewBag.StatusMessage))
          {
              <div class="modal fade" tabindex="-1" role="dialog" id="statusModal">
                  <div class="modal-dialog">
                      <div class="modal-content">
                          <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                              <div class="modal-title">Message</div>
                          </div>
                          <div class="modal-body">@ViewBag.StatusMessage</div>
                      </div>
                  </div>
              </div>
              <script>$('#statusModal').modal({show: true})</script>
          }
    @(ViewBag.HasLocalPassword ? Html.Partial("_ChangePasswordPartial") : Html.Partial("_SetPasswordPartial"))
    @Html.Action("RemoveExternalLogins")
    <br><hr><br>
    <div class="h4">Add an external login</div>
    <br/>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl }) 
</div>
