<div class="player-container">
    <div class="form-group">
        <i class="search-icon glyphicon glyphicon-search"></i>
        <input class="search-field form-control" id="add_song_title" type="text" name="q" 
               data-autocomplete-source="song/SongsSearch"
               data-related-entity-type="song"/>
        <input type="hidden" id="add_song_id" />
        <i class="listen-btn glyphicon glyphicon-headphones"></i>
        <i class="populate-btn glyphicon glyphicon-plus"></i>
    </div>
    <br><br>
    <div id="player"></div>
    <div class="search-results"></div>
</div> 