@model BandSite.Models.AddAlbumModel
<div style="display:table-cell; vertical-align:middle;">
    <span style="margin-right: 10px;">Add Album:</span>
</div>
<div style="display:table-cell; vertical-align:middle;">
    <input id="add_album_title" type="text" name="q" data-autocomplete-source="@Url.Action("AlbumsSearch", "Album")"  data-entity-type="song" data-related-entity-type="album"/>
</div>
<div style="display:table-cell; vertical-align:middle;">
    @using(Html.BeginForm("AddAlbum", "Song")){
         @Html.AntiForgeryToken()
         <input type="hidden" id="add_song_id" name="SongId" value="@Model.SongId" />
         <input type="hidden" id="add_album_id" name="AlbumId" value="@Model.AlbumId" />
         <input type="submit" value="" data-sumbit-action-type="add" style="margin-left: 10px;"/>
    }
</div>
<div style="clear:both; visibility:hidden;"></div>

