.song-control-panel{
    width: 700px;
    line-height: normal !important;
    text-align: left;
}

.player-container {
    width: 700px !important;
}

.song-control-panel .play-btn,
.song-control-panel .loop-btn,
.song-control-panel .song-title,
.song-control-panel .time-label,
.song-control-panel .back-btn,
.song-control-panel .forward-btn,
.song-control-panel .volume-btn {
    float: left;
    padding: 5px;
    color: #428bca;
}

    .song-control-panel .play-btn:hover,
    .song-control-panel .loop-btn:hover,
    .listen-btn:hover,
    .populate-btn:hover,
    .song-control-panel .back-btn:hover,
    .song-control-panel .forward-btn:hover,
    .song-control-panel .volume-btn:hover {
         color: #2a6496;
    }

.song-control-panel .song-title{
    width: 215px;
    margin-right: 5px;
    padding-left: 17px;
}

.song-control-panel .time-line{
    float: left;
    width: 180px;
    margin-right: 35px;
}

.song-control-panel .time-line .time-slider{
    float:left;
    width: 120px;
    margin-right: 15px;
    margin-top: 7px;
}

.song-control-panel .time-line .time-label{
    float:left;
    width: 30px;
}

.song-control-panel .loop-btn{
    margin-right: 35px;
}

.song-control-panel .volume-slider{
    float: left;
    width: 45px;
    margin-top: 10px;
    margin-left: 5px;
    height: 7px;
}

.song-control-panel .volume-slider .ui-slider-handle{
    width: 7px;
    height: 7px;
    top: -1px;
    margin-left: -6px;
}

.song-control-panel .volume-slider .ui-slider-handle:hover{
    top: -1px;
}

.song-control-panel .ui-state-default {
    -ms-border-radius: 50% 50%;
    border-radius: 50% 50%;
    background: #fff !important;
}

.song-control-panel .ui-state-default:hover{
    border: 2px solid #428bca !important;
}

.play-list{ list-style-type: none; margin: 0; padding: 0; width: 680px; }
.play-list li{ margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1em;}
.play-list li span{ position: absolute; margin-left: -2px; }
.play-list-item:hover {
    -ms-opacity: 0.6;
    opacity: 0.6;
    cursor:pointer;
}

.play-list-item.ui-state-default {
    color: #428bca;
}

.play-list-item.ui-state-default a{
    color: #428bca;
}

.search-icon,
.listen-btn,
.populate-btn {
    padding: 8px 12px;
    float:left;
    color: #428bca;
}

.listen-btn {
    padding: 8px 0 0 12px;
}

.search-field {
    width: 570px;
    float: left;
}

.play-list .remove-item{
    margin-left: 660px;
}
