.song-control-panel{
    width: 515px;
    line-height: normal !important;
    text-align: left;
}

.player-container {
    width: 515px !important;
    height: 317px;
    overflow: hidden;
}

.song-control-panel .play-btn,
.song-control-panel .loop-btn,
.song-control-panel .back-btn,
.song-control-panel .forward-btn,
.song-control-panel .volume-btn {
    float: left;
    padding: 10px 0;
    color: #428bca;
}

    .song-control-panel .play-btn:hover,
    .song-control-panel .loop-btn:hover,
    .listen-btn:hover,
    .populate-btn:hover,
    .song-control-panel .back-btn:hover,
    .song-control-panel .forward-btn:hover,
    .song-control-panel .volume-btn:hover {
         color: #2a6496;
    }

.song-control-panel .song-title{
    color: #428bca;
    float: left;
    width: 220px;
    padding: 0 10px;
}

.song-control-panel .time-line{
    float: left;
    width: 280px;
    padding: 0px 15px;
}

.song-control-panel .time-line .time-slider{
    float:left;
    width: 235px;
    margin: 7px 10px 0 10px;
}

.song-control-panel .time-line .time-label{
    color: #428bca;
    float:left;
    width: 30px;
}

.song-control-panel .loop-btn{
    margin-right: 35px;
}

 .song-control-panel .back-btn {
      margin-left: 35px;
 }

.song-control-panel .volume-slider{
    float: left;
    width: 45px;
    margin-top: 15px;
    margin-left: 5px;
    height: 7px;
}

.song-control-panel .volume-slider .ui-slider-handle{
    width: 7px;
    height: 7px;
    top: -1px;
    margin-left: -6px;
}

.song-control-panel .volume-slider .ui-slider-handle:hover{
    top: -1px;
}

.song-control-panel .ui-state-default {
    -ms-border-radius: 50% 50%;
    border-radius: 50% 50%;
    background: #fff !important;
}

.song-control-panel .ui-state-default:hover{
    border: 2px solid #428bca !important;
}

.play-list{ list-style-type: none; margin: 0; padding: 0; width: 505px; height: 155px; overflow-y: scroll; text-align: left;}
.play-list li{ margin: 0 0 3px 3px; padding-left: 1.5em; font-size: 1em;}
    .play-list li span {
        margin-left: -2px;
        margin-top: 5px;
        margin-bottom: 5px;
        float: left;
        width: 440px;
    }
.play-list-item {
    width: 483px;
}
.play-list-item:hover {
    -ms-opacity: 0.6;
    opacity: 0.6;
    cursor:pointer;
}

.play-list-item.ui-state-default {
    color: #428bca;
}

.play-list-item.ui-state-default a{
    color: #428bca;
}

.search-icon,
.listen-btn,
.populate-btn {
    padding: 8px 8px;
    float:left;
    color: #428bca;
}

.listen-btn {
    padding: 8px 0 0 12px;
}

.search-field {
    width: 400px;
    float: left;
}

.play-list .remove-item{
    float: left;
    padding: 5px 0;
}

.search-results .ui-widget-content a{
    color: #428bca !important;
}

.search-results .ui-widget-content a.ui-state-focus {
    color: white !important;
    background: #428bca !important;
    border: none !important;
    -ms-opacity: 0.8;
    opacity: 0.8;
}
