.login-button{
    background-image: url(img/Login.jpg);
    width: 48px;
    height: 48px;
    margin: 1px;
    float: left;
}

.logout-button{
    background-image: url(img/Logout.jpg);
    width: 48px;
    height: 48px;
    margin: 1px;
    float: right;
}

.register-button{
    background-image: url(img/Register.jpg);
    width: 48px;
    height: 48px;
    margin: 1px;
    float: left;
}

.user-name-area{
    margin: 1px;
    float: left;
    padding-left: 60px;
    padding-right: 30px;
    line-height: 48px;
    background-color: black;
    height: 48px;
    background-image: url(img/User-Profile.jpg);
    background-repeat: no-repeat;
}

button[data-account-provider=google]{
    display: block;
    width: 48px;
    height: 48px;
    background-image: url(img/Google.jpg);
    margin: 1px;
}