.action-frame {
    margin-top: 100px;
}

.add-button {
    padding: 8px;
}

a.link span{
    padding: 5px;
}

a.link:hover {
    text-decoration: none !important;
}

.google-btn {
    background: url(../Images/Google.png);
    width: 48px;
    height: 48px;
    background-repeat: no-repeat;
    display: block;
}

i {
    margin-left: 5px;
    margin-right: 5px;
}
