.offline {
    visibility: hidden;
}

.contact-list {
    margin: 5px 5px;
}

.dialog-tab {
    min-height: 300px;
    height: 300px;
    overflow-y: scroll;
    padding: 5px 10px;
    resize: vertical;
}

.contact-list span {
    margin-left: 5px;
}

.text-area {
    padding: 0 5px;
}

.contact-scroller {
     overflow-y: scroll;
     min-height: 170px;
     height: 170px;
     resize: vertical;
}

.chat .panel-body {
    padding: 0 0 5px 0;
}

.chat .panel{
    min-width: 280px;
}

.chat hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

.chat .panel-heading {
    text-align: center;
}

.disconnect-msg .modal-header {
    background: #ff7171;
}

.chat p {
    white-space: pre-line;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

.dialog-tab .glyphicon-refresh {
    display: none;
}

.dialog-tab .glyphicon-exclamation-sign {
    display: none;
}

.dialog-tab .undelivered .glyphicon-refresh{
    display: block;
}

.dialog-tab .unread .glyphicon-exclamation-sign {
    display: block;
}

.rotate {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);

    -webkit-transform-origin: 44px 44px;
    -moz-transform-origin: 44px 44px;
    -ms-transform-origin: 44px 44px;
    -o-transform-origin: 44px 44px;
    transform-origin: 44px 44px;    
}

.chat .panel.rotate{
    min-width: 50px;
}

