.offline {
    visibility: hidden;
}

.contact-list {
    margin: 5px 5px;
    height: 205px;
}

.dialog-tab {
    height: 300px;
    overflow-y: scroll;
    padding: 5px 10px;
}

.contact-list span {
    margin-left: 5px;
}

.text-area {
    padding: 0 5px;
}

.contact-scroller {
     overflow-y: scroll;
     height: 212px;
}

.chat .panel-body{
    padding: 0 0 5px 0;
}

.chat hr{
    margin-top: 5px;
    margin-bottom: 5px;
}

.chat .panel-heading{
    text-align: center;
}

.undelivered{
    background: lightgray;
}

.unread{
    background: lightblue;
}

.disconnect-msg .modal-header{
    background: #ff7171;
}

