.offline {
    visibility: hidden;
}

.contact-list {
    margin: 5px 5px;
}

.dialog-tab {
    min-height: 300px;
    height: 300px;
    overflow-y: scroll;
    padding: 5px 10px;
    resize: vertical;
}

.contact-list span {
    margin-left: 5px;
}

.text-area {
    padding: 0 5px;
}

.contact-scroller {
     overflow-y: scroll;
     min-height: 170px;
     height: 170px;
     resize: vertical;
}

.chat .panel-body {
    padding: 0 0 5px 0;
}

.chat .panel{
    min-width: 280px;
}

.chat hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

.disconnect-msg .modal-header {
    background: #ff7171;
}

.chat p {
    white-space: pre-line;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

.dialog-tab .glyphicon-refresh {
    display: none;
}

.dialog-tab .glyphicon-exclamation-sign {
    display: none;
}

.dialog-tab .undelivered .glyphicon-refresh{
    display: block;
}

.dialog-tab .unread .glyphicon-exclamation-sign {
    display: block;
}

.chat .panel.compact{
    width: 160px;
    min-width: 160px;
}

.minimize-btn {
    margin: 0 0;
    cursor: pointer;
    display: none;
    float: right;
}

@media (max-width: 1199px) {
    .minimize-btn {
        display: block;
    }
}

.chat a.list-group-item .list-group-item-heading{
    color: #428bca;
}

.chat a.list-group-item .list-group-item-heading.my-msg{
    color: #333333;
}

.badge {
    margin: 0 20px 0 10px;
}

