@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="display:table; width:100%;">
<div style="display:table-row;">
   <div class="admin-nav-menu">
       <div id="createSong" data-entity-type="Song" data-nav-action-type="create"></div>
       <div class="admin-nav-menu-item admin-nav-menu-item-songs" data-nav-action-type="list" data-entity-type="song">Songs</div>
       <div id="createAlbum" data-entity-type="Album" data-nav-action-type="create"></div>
       <div class="admin-nav-menu-item admin-nav-menu-item-albums" data-nav-action-type="list" data-entity-type="album">Albums</div>
       <div id="createUser" data-entity-type="User" data-nav-action-type="create"></div>
       <div class="admin-nav-menu-item admin-nav-menu-item-users" data-nav-action-type="list" data-entity-type="user">Users</div>
   </div>
   <div id="action" class="admin-action-frame">
       <div id="content"></div>
       <div id="action-loader" class="ajax-loader"></div>
   </div>
   <script src="~/Scripts/admin-navigation.js"></script>
</div>
</div>